name: pack from deb

on:
  push:
    paths:
      - .github/workflows/deb.yaml
      - deb/*
      - VERSION
  pull_request:
    paths:
      - .github/workflows/deb.yaml
      - deb/*
  workflow_dispatch:

env:
  GHCR_REPO: ghcr.io/${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  deb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version
        run: echo "version=`cat VERSION`" >> $GITHUB_ENV

      - name: Set tags
        run: |
          if [[ "$GITHUB_REF" == "refs/heads/${{ github.event.repository.default_branch }}" ]]; then
            echo "TAGS=${{ env.GHCR_REPO }}:latest,${{ env.GHCR_REPO }}:${{ env.version }}" >> "$GITHUB_ENV"
          else
            echo "TAGS=${{ env.GHCR_REPO }}:deb-${{ github.ref_name }}" >> "$GITHUB_ENV"
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image without push
        uses: docker/build-push-action@v6
        with:
          context: ./deb
          file: ./deb/Dockerfile
          load: true
          tags: protonmail-bridge:latest

      - name: Scan image
        id: scan
        uses: anchore/scan-action@v6
        with:
          image: protonmail-bridge:latest
          fail-build: true
          severity-cutoff: critical
          acs-report-enable: true

      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image
        uses: docker/build-push-action@v6
        with:
          context: ./deb
          file: ./deb/Dockerfile
          tags: ${{ env.TAGS }}
          push: ${{ github.event_name != 'pull_request' }}
