name: update check

on:
  push:
    paths:
      - .github/workflows/update-check.yaml
      - update-check.py
  pull_request:
    paths:
      - .github/workflows/update-check.yaml
      - update-check.py
  schedule:
  - cron: '0 0 * * *'  # runs everyday at midnight

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        token: ${{ secrets.PERSONAL_TOKEN }}
    - name: Check Update
      run: python3 update-check.py ${{ github.event_name == 'pull_request' }}
